/*
    Author: Silvia Mariana Reyesvera Quijano - 000813686 
    Date: December 7, 2020

    This code provides styling meant for edit.php
*/

.mainContainer {
    border-radius: 10px;
    padding: 40px 0;
}

#menuButtons input {
    display: block;
    width: 300px;
    height: 80px;
    margin: 10px;
    font-size: 1.5em;
}

#menuButtons {
    width: 320px;
    margin: 0 auto;

}

#menuButtons .expiredMessage {
    text-align: center;
}

a {
    text-decoration: none;
}

#expiredMessage {
    text-align: center;
}